services:
  defindex-soroban:
    image: esteblock/soroban-preview:22.0.1
    container_name: defindex-soroban
    volumes:
      - .:/workspace
    ipc: host
    networks:
      - defindex-network
    command: tail -f /dev/null
    ports:
      - "3001:300"
      - "3011:3010"
      - "3051:3050"

  stellar:
    image: stellar/quickstart
    container_name: stellar
    networks:
      - defindex-network
    ports:
      - "8000:8001"
    command: --local --protocol-version 22
    stdin_open: true
    tty: true

  dart:
    image: ghcr.io/cirruslabs/flutter:3.24.4
    container_name: dart-defindex
    profiles:
      - on-demand
    networks:
      - defindex-network
    volumes:
      - .:/workspace
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true
    working_dir: /workspace/packages/defindex-dart-sdk

networks:
  defindex-network:
    driver: bridge
